$greenColor: #006238;
$hundredPercent: 100%;
$align: center;
$blackColor: #000;
$grayColor: #707070;
$boxShadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
$flexBox: flex;
$twoRem: 2rem;
$spaceBetween: space-between;
$cursorPointer: pointer;
$flexDirection: column;